<div class="card shadow-sm m-2 my-2">
    <img src="{{livro.image}}" alt="Imagem do livro" class="bd-placeholder-img card-img card-img-top" width="100%">

    <div class="card-body">

        <p class="card-text">{{livro.title}}</p>
        <p class="card-text">{{livro.subtitle}}</p>
        <p class="card-text">ISBN: {{livro.isbn13}}</p>
        <p class="card-text">{{livro.price}}</p>

        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary">Comprar</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Detalhes</button>
        </div>

    </div>
</div>